
.container{
    position: relative;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background-color: #1d1e33;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container::before, .container::after{
    content: '';
    position: absolute;
    z-index: -2;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    background: linear-gradient(45deg, rgb(153, 0, 255), rgb(255,255,255), rgb(255,255,255), rgb(153, 0, 255), rgb(153, 0, 255));
    animation: animate 5s linear infinite;
    border-radius: 10px; 
    background-size:300%;
}

@keyframes animate {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 300%;
    }
}

.container::after{
    filter: blur(50px);
}
.form-container{
    position: relative;
    z-index: 1;
}

.form-container label span{
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-container input[type="number"]{
    width: 100%;
    padding: 20px 5px;
    border: none;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    color: black;
}

.form-container input[type="number"]::placeholder{
    padding: 10px;
}

.container-btn{
    display: flex;
    justify-content:center;
    align-items: center;
}

#title{
    text-shadow:5px 0px 20px red;
    animation: shadow 5s linear infinite;
    margin-bottom: 10px;
 }
 
 @keyframes shadow {
    0%{
        text-shadow: 0px 0px 20px red;
    }
    10%{
        text-shadow: 0px 0px 20px yellow;
    }
    20%{
        text-shadow: 0px 0px 20px orange;
    }
    30%{
        text-shadow: 0px 0px 20px yellowgreen;
    }
    40%{
        text-shadow: 0px 0px 20px green;
    }
    50%{
        text-shadow: 0px 0px 20px rgb(149, 149, 251);
    }
    60%{
        text-shadow: 0px 0px 20px blue;
    }
    70%{
        text-shadow: 0px 0px 20px rgb(252, 149, 252) ;
    }
    80%{
        text-shadow: 0px 0px 20px rgb(254, 98, 230); 
    }
    90%{
        text-shadow: 0px 0px 20px purple;
    }
    100%{
        text-shadow: 0px 0px 20px red;
    }
 }